.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 100vw;

    &__firstContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        padding-left: 3rem;
    }

    &__imgContainer {
        width: 20rem;
        height: 15rem;
    }

    &__logo {
        width: 100%;
        transform: translateY(3.2rem);
    }

    &__input {
        height: 4.6rem;
        background: white;
        border-radius: 3rem;
        width: 60rem;
        border: 0.1rem solid black;
        padding: 1rem;
        box-shadow: 0 0 1.5rem 0.4rem rgba(0, 0, 0, 0.06);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

    }

    .hide {
        display: none;
    }

    .hamburger-menu {
        display: inline-block;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;

        &:hover{
            transform: scale(1.1);
        }

        &__div {
            width: 4rem;
            height: 0.5rem;
            background-color: white;
            margin: 4px;
            transition: 0.3s;
        }
    }
    
    .organisatiediv{
        background-color: white;
    }
}

.headerorganisatie{
    background-color: #2d2e33;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2d2e33;
    transform: translateX(-100%);
    transition: 0.3s;

    .menu__a {
        margin: 1rem;
        color: white;
        text-decoration: none;
        font-size: 27px;
        transition: transform 0.3s ease-in-out;
        

        &:hover {
            color: rgb(212, 29, 29);
            transform: scale(1.1);
        }
    }

    &.active-menu {
        transform: translateX(0%);
    }
}

.menu .close-button {
    position: absolute;
    top: 1rem;
    right: 7rem;
    font-size: 10rem;
    cursor: pointer;
    color: white;
    background: none;
    border: none;
    transition: transform 0.2s ease-in-out;

    &:hover {
        color: rgb(212, 29, 29);
        transform: scale(0.9);
    }
}